<% include header %>
<% if (errors) { %>
  <div class="errors">
    <% for (key in errors){ %>
      <h4><%= key %>: <span><%=errors[key].msg %> </span></h4>
    <% } %>
  </div>
<% } %>
<hr>
<form method="post" action="/auth/signup">
  <label for="username">Username: </label>
<input type="text" name="username" value="">
<label for="password">Password: </label>
<input type="password" name="password" value="">
<label for="password2">Confirm Password: </label>
<input type="password" name="password2" value="">
<button type="submit">Sign up</button>
</form>

<% include footer %>